.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .header-container {
    margin-top: 50px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 70px;
    height: 70px;
    margin-right: 14px;
  }
}

.tit {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .tit {
    font-size: 30px;
  }
}

.nav-items-list {
  display: flex;
  padding: 0px;
}

.link-item {
  list-style-type: none;
}

.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .route-link {
    margin-left: 20px;
    font-size: 25px;
  }
}
